.yellow{
    background-color: orange;
    color: orange;
    font-size: 25px;
}

.white{
    background-color: white;
    color: white;
    font-size: 25px;
}

.dark_blue{
    background-color: navy;
    color: navy;
    font-size: 25px;
}

.light_blue{
    background-color: deepskyblue;
    color: deepskyblue;
    font-size: 25px;
}