.header{
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 2px;
}

.title{
    font-size: 50px;
    color: grey;
    text-align: center;
}

.sectionTitle{
    font-size: 35px;
    color: black;
    text-align: center;
}

.paragraph{
    font-size: 14px;
    color: black;
    text-align: left;
    padding: 2px;
}

.picture{
    width: 100%;
}

#canopic{
    width: 100%;
    border: solid black;
    -webkit-animation: jar 10s infinite linear;

    @-webkit-keyframes jar{
        
    }
}